
  
  .home img {
    margin-top: 0;
    width: 100%; /* Reduce the size of the image */
    height: 100%; /* Maintain the aspect ratio */
    object-fit: cover; 
    background-size:cover;
  }

  
.button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Space between button and the text below */
    margin-left: 600px;
    text-align: center;
    align-items: center;

  }
  .imgg{
    margin-top: 80px;
  }

.text, .ff {
    color: white; /* Ensure the text is visible on the background */
    font-size: 24px;
    margin: 0; /* Remove default margin from p tags */
    text-align: center; /* Center the text */
  }
  


.second1 img {
  overflow:auto;
    margin-top: 50px;
}